<img class="burger-logo" src="/assets/img/burger.png">
<h1 class="header">Burger Time!</h1>
<div class="burger-table">
    {{#each burger_data}}
        <h4>
            {{this.id}}: {{this.burger_name}}
        </h4>
    {{/each}}
</div>
<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger:</label>
    <input type="text" id="burger" name="name">
    <button id="submit" type="submit">Add Burger</button>
  </div>
  
</form>

